body {background: #222;}

.clock {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(madera.png);
	width: 10em;
	height: 2em;
	margin: -10px auto; 
	border-radius: 20px;
	box-shadow: 0 0 25px 0 #666;
	text-shadow: 0 0 10px #fff, 0 0 10px #fff;
	font-size: 50px;
	font-family: monospace;
	letter-spacing: 7px;
	user-select: none;
	cursor: none;
}

@media screen and (max-width: 415px) {

body {
	background: #000;
	display: flex;
	justify-content: center;
}
	
.clock {
	transform: scale(70%);
	margin: 4rem auto;
}
	
}
